<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Course Offerings

    <a data-toggle="collapse" href="#quarter_course_offerings_new_form">
      Add course offering
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @quarter.course_offerings.each do |course_offering| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to course_offering, course_offering %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to course_offering, method: :delete, data: { confirm: "Do you really want to delete this course_offering" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="quarter_course_offerings_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
