<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Course Ratings

    <a data-toggle="collapse" href="#user_course_ratings_new_form">
      Add course rating
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.course_ratings.each do |course_rating| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to course_rating, course_rating %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_course_ratings_new_form">
        <%= render partial: "users/user_course_ratings_new_form" %>
      </div>
    </div>

  </ul>
</div>
