<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Course Ratings
  </div>

  <ul class="list-group list-group-flush">
    <% @professor.course_ratings.each do |course_rating| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/course_ratings/<%= course_rating.id %>">
          <%= course_rating %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
