<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @professor, partial: "card", as: :professor %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "professors/professor_course_offerings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "professors/professor_course_ratings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "professors/professor_courses" %>
  </div>
</div>
