<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @course_rating, partial: "card", as: :course_rating %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "course_ratings/course_rating_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "course_ratings/course_rating_prof" %>
  </div>
</div>
