<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Proves
  </div>

  <ul class="list-group list-group-flush">
    <% @course.proves.each do |professor| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/professors/<%= professor.id %>">
          <%= professor %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
