<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Quarters
  </div>

  <ul class="list-group list-group-flush">
    <% @course.quarters.each do |quarter| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/quarters/<%= quarter.id %>">
          <%= quarter %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
